# Variables de entorno
.env
**/.env

# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/

# Base de datos
*.db
*.sqlite
*.sqlite3

# Flutter / Dart
.dart_tool/
build/

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]